<div id="qrop_about" class="qrop_about section_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <!-- section title -->
                <h2 class="section_title">
                    <span class="reveal-trigger">About</span><br>
                    <span class="reveal-trigger">Me</span>
                </h2>
            </div>
            <div class="col-md-9 wow fadeIn" data-wow-delay=".05s">
                <!-- begin of about info -->
                <div class="about_info">
                    <h6 class="section_subtitle">a little things about me</h6>
                    <p>Hello!</p>
                    <p>I'm <span>Jack Barker.</span> You can call me <span>Jack.</span></p>
                    <p>I'm code and design things for web with more than 3 years of experience and a wide range of skills in the industry.</p>

                    <div class="space-20"></div>

                    <!-- CV download button -->
                    <a class="qrop_btn" href="#">Download CV</a>
                </div>
                <!-- end of about info -->

                <div class="space-60"></div>

                <!-- begin of experience info -->
                <div class="row">
                    <div class="col">
                        <h6 class="section_subtitle">experience</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-delay=".05s">
                        <div class="experience_single">
                            <h4>Walmarn Digital</h4>
                            <p>Front-end Developer</p>
                            <p>2016 - Now</p>
                            <p>Paris, France</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-delay=".15s">
                        <div class="experience_single xsm-mt-30">
                            <h4>Biltoni Devs</h4>
                            <p>Front-end Developer</p>
                            <p>2014 - 2016</p>
                            <p>United States</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-delay=".25s">
                        <div class="experience_single sm-mt-30">
                            <h4>Softano Creation</h4>
                            <p>Front-end Developer</p>
                            <p>2013 - 2014</p>
                            <p>Paris, France</p>
                        </div>
                    </div>
                </div>
                <!-- end of experience info -->

                <div class="space-40"></div>

                <!-- begin of education info -->
                <div class="row">
                    <div class="col">
                        <h6 class="section_subtitle">education</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-delay=".05s">
                        <div class="education_single">
                            <h4>Master's in UI/UX</h4>
                            <p>Univercity of Paris</p>
                            <p>2017</p>
                            <p>Paris, France</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-delay=".15s">
                        <div class="education_single xsm-mt-30">
                            <h4>Master's in web</h4>
                            <p>Univercity of France</p>
                            <p>2014</p>
                            <p>Paris, France</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-delay=".25s">
                        <div class="education_single sm-mt-30">
                            <h4>Computer engneering</h4>
                            <p>Univercity of America</p>
                            <p>2008</p>
                            <p>United States</p>
                        </div>
                    </div>
                </div>
                <!-- end of education info -->

                <div class="space-40"></div>

                <!-- begin of skills info -->
                <div class="row">
                    <div class="col">
                        <h6 class="section_subtitle">skills</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-delay=".05s">
                        <div class="skills">
                            <div>
                                <!-- skill name -->
                                <h5>Front-end Code</h5>
                                <!-- skill bar -->
                                <div class="skill_line">
                                    <div class="skill_width wow slideInLeft" style="width:86%"></div>
                                </div>
                            </div>

                            <div class="space-20"></div>

                            <div>
                                <!-- skill name -->
                                <h5>Back-end Code</h5>
                                <!-- skill bar -->
                                <div class="skill_line">
                                    <div class="skill_width wow slideInLeft" style="width:73%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-delay=".15s">
                        <div class="skills xsm-mt-30">
                            <div>
                                <!-- skill name -->
                                <h5>Web UI/UX</h5>
                                <!-- skill bar -->
                                <div class="skill_line">
                                    <div class="skill_width wow slideInLeft" style="width:90%"></div>
                                </div>
                            </div>

                            <div class="space-20"></div>

                            <div>
                                <!-- skill name -->
                                <h5>Content Writing</h5>
                                <!-- skill bar -->
                                <div class="skill_line">
                                    <div class="skill_width wow slideInLeft" style="width:77%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-delay=".25s">
                        <div class="skills sm-mt-30">
                            <div>
                                <!-- skill name -->
                                <h5>Digital Marketing</h5>
                                <!-- skill bar -->
                                <div class="skill_line">
                                    <div class="skill_width wow slideInLeft" style="width:68%"></div>
                                </div>
                            </div>

                            <div class="space-20"></div>

                            <div>
                                <!-- skill name -->
                                <h5>Supporting</h5>
                                <!-- skill bar -->
                                <div class="skill_line">
                                    <div class="skill_width wow slideInLeft" style="width:93%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of skills info -->
            </div>
        </div>
    </div>
</div>
