<div id="qrop_blogs" class="qrop_blogs section_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2 class="section_title">
                    <span class="reveal-trigger">Latest</span><br>
                    <span class="reveal-trigger">Blogs</span>
                </h2>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <!-- blog single item -->
                    <div class="col-md-4 wow fadeIn" data-wow-delay=".05s">
                        <div class="blog_item">
                            <div class="blog_img">
                                <img class="img-fluid" src="img/blog_01.jpg" alt="">
                            </div>
                            <div class="blog_item_info">
                                <h4>Lorem sit amet consec tetur adipisi cinge.</h4>
                                <p>A ignismos veniam nihil conse quatur sit moltia maiores sint.</p>
                                <a href="blog_single.html">Read More</a>
                            </div>
                        </div>
                    </div>

                    <!-- blog single item -->
                    <div class="col-md-4 wow fadeIn" data-wow-delay=".15s">
                        <div class="blog_item sm-mt-30">
                            <div class="blog_img">
                                <img class="img-fluid" src="img/blog_02.jpg" alt="">
                            </div>
                            <div class="blog_item_info">
                                <h4>Pagni oerspin ciatinse veniet elid bendi.</h4>
                                <p>It's a nissimos ectetur adipisi cinge mollitia maiores sint.</p>
                                <a href="blog_single.html">Read More</a>
                            </div>
                        </div>
                    </div>

                    <!-- blog single item -->
                    <div class="col-md-4 wow fadeIn" data-wow-delay=".25s">
                        <div class="blog_item sm-mt-30">
                            <div class="blog_img">
                                <img class="img-fluid" src="img/blog_03.jpg" alt="">
                            </div>
                            <div class="blog_item_info">
                                <h4>Necessitati sit busaneo voluptas amit auto.</h4>
                                <p>It is gsimos veniam nihil conse quatur sit mollitia maies sint.</p>
                                <a href="blog_single.html">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col wow fadeIn" data-wow-delay=".05s">

                        <div class="space-30"></div>

                        <!-- View All Blogs button -->
                        <a class="qrop_btn" href="all_blogs.html">View All Blogs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
