<div id="qrop_contact" class="qrop_contact section_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2 class="section_title">
                    <span class="reveal-trigger">Say</span><br>
                    <span class="reveal-trigger">Hello</span>
                </h2>
            </div>
            <div class="col-md-9 wow fadeIn" data-wow-delay=".05s">
                <form id="contact-form" action="https://sojonever.com/html/qrop/php/mail.php">
                    <div class="row">
                        <div class="col-12">
                            <p class="form-message mb-2"></p>
                        </div>
                        <div class="col-md-4">
                            <!-- input field for NAME -->
                            <input class="input_fild contact_name" type="text" name="name" placeholder="Name*">

                            <!-- input field for EMAIL -->
                            <input class="input_fild contact_email" type="email" name="email" placeholder="Email Address*">
                        </div>
                        <div class="col-md-8">
                            <!-- input field for MESSAGE -->
                            <textarea class="input_fild contact_message" name="message" placeholder="Message*"></textarea>

                            <!-- button for MESSAGE-SEND -->
                            <button class="contact_button qrop_btn" type="submit">send message</button>
                        </div>
      </div>
                </form>
            </div>
        </div>
    </div>
</div>
