<div id="qrop_services" class="qrop_services section_padding">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-3">
                <h2 class="section_title">
                    <span class="reveal-trigger">My</span><br>
                    <span class="reveal-trigger">Services</span>
                </h2>
            </div>
            <div class="col-md-9">
                <div class="owl-carousel service_carousel">
                    <!-- service single item -->
                    <div class="service_item wow fadeIn" data-wow-delay=".05s">
                        <span class="service_icon mbri-responsive"></span>
                        <h4>Web Design</h4>
                        <p>Ronsectetur adipisicing elit ffic dolor infobus vero exercit atione ametom cque quae.</p>
                    </div>

                    <!-- service single item -->
                    <div class="service_item wow fadeIn" data-wow-delay=".15s">
                        <span class="service_icon mbri-cursor-click"></span>
                        <h4>UI/UX Design</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Quas vero exercit atione amet.</p>
                    </div>

                    <!-- service single item -->
                    <div class="service_item wow fadeIn" data-wow-delay=".25s">
                        <span class="service_icon mbri-website-theme"></span>
                        <h4>Visual Design</h4>
                        <p>Cosectetur adipisicing elit ffic dolor infobus vero exercit atione ametom cumque quae.</p>
                    </div>

                    <!-- service single item -->
                    <div class="service_item">
                        <span class="service_icon mbri-protect"></span>
                        <h4>Problem Solving</h4>
                        <p>Atanp ipsum dolor sit amet consectetur adipisicing elit Quas vero exercit atione amet.</p>
                    </div>

                    <!-- service single item -->
                    <div class="service_item">
                        <span class="service_icon mbri-contact-form"></span>
                        <h4>Content Writing</h4>
                        <p>Cosectetur adipisicing elit ffic dolor infobus vero exercit atione ametom cumque quae.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
