<div id="qrop_testimonial" class="qrop_testimonial section_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2 class="section_title">
                    <span class="reveal-trigger">Cilents</span><br>
                    <span class="reveal-trigger">Review</span>
                </h2>
            </div>
            <div class="col-md-3 wow fadeIn" data-wow-delay=".05s">
                <p class="testimonial_quote mbri-quote-right"></p>
                <h6 class="section_subtitle">trustred from over<br>500+ clients</h6>
            </div>
            <div class="col-md-6 wow fadeIn" data-wow-delay=".15s">
                <div class="owl-carousel testimonial_carousel">
                    <div class="testimonial_item">
                        <h5>Atque minima voluptate animi provident adipisci laudantium magni harum nulla. Consequuntur architecto aliquid distinctio doloribus molestiae facere dolorum.</h5>
                        <p>Will Marvin <span>(Opticon Limited)</span></p>
                    </div>
                    <div class="testimonial_item">
                        <h5>Porro debitis nostrum cum hic nam, expedita velit atque voluptates placeat doloribus voluptatem. Suscipit facere excepturi in vitae quibusdam iusto dolores ipsa!</h5>
                        <p>Reta Schmidt <span>(Alive Tech)</span></p>
                    </div>
                    <div class="testimonial_item">
                        <h5>Necessitatibus assumenda nemo porro. Soluta hic officiis nihil deserunt quae autem vero sapiente id? Aperiam est ducimus totam facilis excepturi dolorem perferendis.</h5>
                        <p>Zander Rohan <span>(Tinmest Tech)</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
