{% load cms_tags sekizai_tags staticfiles%}
<div id="qrop_works" class="qrop_works section_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2 class="section_title">
                    <span class="reveal-trigger">Latest</span><br>
                    <span class="reveal-trigger">Projects</span>
                </h2>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col">
                        <div class="filter_buttons">
                            <button class="btn_active" data-filter="*">all</button>
                            <button data-filter=".design">design</button>
                            <button data-filter=".develop">development</button>
                            <button data-filter=".branding">branding</button>
                        </div>
                    </div>
                </div>
                <div class="row work_items zoom-gallery">
                    <!-- work single item -->
                    <div class="col-lg-4 col-md-6 col-sm-6 design">
                        <div class="work_single_item">
                            <div class="work_image">
                                <a class="zoom_image" href="{% static "img/work_01.jpg" %}">
                                    <img class="img-fluid" src="{% static "img/work_01.jpg" %}" alt="">
                                </a>
                            </div>
                            <div class="work_item_info">
                                <h4>Black Wall</h4>
                                <p>design</p>
                            </div>
                        </div>
                    </div>

                    <!-- work single item -->
                    <div class="col-lg-4 col-md-6 col-sm-6 develop">
                        <div class="work_single_item">
                            <div class="work_image">
                                <a class="zoom_image" href="{% static "img/work_02.jpg" %}">
                                    <img class="img-fluid" src="{% static "img/work_02.jpg" %}" alt="">
                                </a>
                            </div>
                            <div class="work_item_info">
                                <h4>Lamp Holded</h4>
                                <p>development</p>
                            </div>
                        </div>
                    </div>

                    <!-- work single item -->
                    <div class="col-lg-4 col-md-6 col-sm-6 branding">
                        <div class="work_single_item">
                            <div class="work_image">
                                <a class="zoom_image" href="{% static "img/work_03.jpg" %}">
                                    <img class="img-fluid" src="{% static "img/work_03.jpg" %}" alt="">
                                </a>
                            </div>
                            <div class="work_item_info">
                                <h4>Dark Room</h4>
                                <p>branding</p>
                            </div>
                        </div>
                    </div>

                    <!-- work single item -->
                    <div class="col-lg-4 col-md-6 col-sm-6 develop">
                        <div class="work_single_item">
                            <div class="work_image">
                                <a class="zoom_image" href="{% static "img/work_04.jpg" %}">
                                    <img class="img-fluid" src="{% static "img/work_04.jpg" %}" alt="">
                                </a>
                            </div>
                            <div class="work_item_info">
                                <h4>Blue Sky</h4>
                                <p>development</p>
                            </div>
                        </div>
                    </div>

                    <!-- work single item -->
                    <div class="col-lg-4 col-md-6 col-sm-6 develop">
                        <div class="work_single_item">
                            <div class="work_image">
                                <a class="zoom_image" href="{% static "img/work_06.jpg" %}">
                                    <img class="img-fluid" src="{% static "img/work_06.jpg" %}" alt="">
                                </a>
                            </div>
                            <div class="work_item_info">
                                <h4>Tree Holder</h4>
                                <p>development</p>
                            </div>
                        </div>
                    </div>

                    <!-- work single item -->
                    <div class="col-lg-4 col-md-6 col-sm-6 design">
                        <div class="work_single_item">
                            <div class="work_image">
                                <a class="zoom_image" href="{% static "img/work_05.jpg" %}">
                                    <img class="img-fluid" src="{% static "img/work_05.jpg" %}" alt="">
                                </a>
                            </div>
                            <div class="work_item_info">
                                <h4>BayCycle</h4>
                                <p>design</p>
                            </div>
                        </div>
                    </div>

                    <!-- work single item -->
                    <div class="col-lg-4 col-md-6 col-sm-6 branding">
                        <div class="work_single_item">
                            <div class="work_image">
                                <a class="zoom_image" href="{% static "img/work_07.jpg" %}">
                                    <img class="img-fluid" src="{% static "img/work_07.jpg" %}" alt="">
                                </a>
                            </div>
                            <div class="work_item_info">
                                <h4>Green Leaf</h4>
                                <p>branding</p>
                            </div>
                        </div>
                    </div>

                    <!-- work single item -->
                    <div class="col-lg-4 col-md-6 col-sm-6 branding">
                        <div class="work_single_item">
                            <div class="work_image">
                                <a class="zoom_image" href="{% static "img/work_08.jpg" %}">
                                    <img class="img-fluid" src="{% static "img/work_08.jpg" %}" alt="">
                                </a>
                            </div>
                            <div class="work_item_info">
                                <h4>Circle Window</h4>
                                <p>branding</p>
                            </div>
                        </div>
                    </div>

                    <!-- work single item -->
                    <div class="col-lg-4 col-md-6 col-sm-6 design">
                        <div class="work_single_item">
                            <div class="work_image">
                                <a class="zoom_image" href="{% static "img/work_09.jpg" %}">
                                    <img class="img-fluid" src="{% static "img/work_09.jpg" %}" alt="">
                                </a>
                            </div>
                            <div class="work_item_info">
                                <h4>Building &amp; Sky</h4>
                                <p>design</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
