{% extends "base.html" %}
{% load cms_tags sekizai_tags staticfiles%}
{% block content %}
  <!-- begin of intro wrapper -->
  <div class="qrop_intro_wrap">

      <!-- begin of navbar -->
      <nav>
          <div class="container">
              <div class="row">
                  <div class="col-lg-9 col-md-6 col-5">
                      <!-- logo -->
                      <a href="index.html"><img class="logo" src="{% static "img/nedsoft-logo.png" %}" alt="logo"></a>

                      <ul id="menu">
                          <li><a href="/#qrop_about">about</a></li>
                          <li><a href="/#qrop_services">services</a></li>
                          <li><a href="/#qrop_works">works</a></li>
                          <li><a href="/#qrop_blogs">blogs</a></li>
                          <li><a href="/#qrop_testimonial">testimonial</a></li>
                          <li class="d-none"><a href="/#qrop_contact">contact me</a></li>
                      </ul>
                  </div>
                  <div class="col-lg-3 col-md-6 col-7 text-right">
                      <a class="qrop_btn" href="index.html">Contact Me</a>

                      <!-- mobile menu button -->
                      <div class="mobile_menu_btn">
                          <span class="mbri-menu"></span>
                      </div>
                  </div>
              </div>
          </div>
      </nav>
      <!-- end of navbar -->
  </div>
  <!-- end of intro wrapper -->

    {% block newsblog_content %}
        {# article_list.html and article_detail.html extend this template #}
    {% endblock %}
{% endblock content %}
