{% load cms_tags menu_tags sekizai_tags staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{% page_attribute 'meta_description' %}"/>
  <meta name="keywords" content="Portfolio, Personal, Creative, Nedsoft, Html Template, Portfolio Template">
  <meta name="author" content="NTSOLI EGOLO DIMITRI">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- favicon -->
  <link rel="icon" type="image/png" href="{% static "img/favicon.png" %}" />
  <!-- title -->
  <title>nedsoft - {% page_attribute 'page_title' %}</title>

  {% include 'stylesheet.html' %}
  {% render_block "css" %}
</head>
<body>
  {% cms_toolbar %}


  <!-- begin of preloader -->
  <div class="preloader">
      <div class="line_loader"></div>
      <p>loading</p>
  </div>
  <div class="overlay2"></div>
  <div class="overlay"></div>
  <!-- end of preloader -->

  <!-- begin of main wrapper -->
  <div id="page_top" class="qrop_main">

      {% block content %}{% endblock content %}

      <!-- begin of footer -->
      {% include 'footer.html' %}
      <!-- end of footer -->

  </div>
  <!-- end of main wrapper -->

  {% include 'scripts.html' %}
  {% render_block "js" %}
  </body>
</html>
