{% load i18n staticfiles thumbnail cms_tags apphooks_config_tags %}

<!-- blog single item -->
<div class="col-md-4 wow fadeIn" data-wow-delay=".05s">
    <div class="blog_item">
        <div class="blog_img">
            <img class="img-fluid" src="{% thumbnail article.featured_image 800x450 crop subject_location=article.featured_image.subject_location %}" alt="{{ article.featured_image.alt }}">
        </div>
        <div class="blog_item_info">
            <h4>{% render_model article "title" %}</h4>
            <p>{% render_model article "lead_in" %}</p>
            <a href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}">Read More</a>
        </div>
    </div>
</div>
